 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:  #08022c;
    font-family: 'poppins', sans-serif;
    
}

h1{
    font-weight: 700;
    color: #08022c;
   
    
}


span{
    font-size: 9rem;
    color:#757373;

}

h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}


/* NAVIGATION BAR */
nav{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px #16045826;
    position: fixed;
    width: 100%;
    background-color: #09053600;
    z-index: 999;
}
label.logo{
    color: hsl(120, 92%, 36%);
    font-size:40px ;
    width: 20%;
    line-height: 80px;
    padding-left: 100px;
    font-weight: 800;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;

}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline;
    line-height: 80px;
    margin:0 5px  ;
}
    nav ul li a{
        color: aliceblue;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(245, 245, 248);
        font-size: 16px ;
        font-weight: 800;
        transition: 0.3s ease;
    /*box around nav*/
        padding: 3px 14px;

        border-radius: 10px;
      
    }


    .checkbtn{
        font-size: 30px;
        color: beige;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;

    }



    nav .home,.about,.blog,.courses,.contact{
        background-color: hwb(120 3% 31%);
    }
    nav .home:hover,.about:hover,.blog:hover,.courses:hover,.contact:hover{
        background-color:#0905360e;
        -webkit-text-fill-color: #f2f2f8e7;
        transition: 0.3s;
    
    }
    a.home{
        background: hwb(281 0% 1%);
    }

    nav a.home:hover{
    
        -webkit-text-fill-color: hwb(120 3% 31%) ;
        transition: .5s;
        
    }



    @media (max-width:952px) {

        label.logo{
    font-size:35px ;
    padding: 0 100px;
}
nav ul li{
    font-size: 16px;
}

    }

    @media (max-width:952px) {

        .checkbtn{
display: block;
}
 ul{
    position: fixed;
    width: 100%;
    height: 100hvh;
    background: #040127e7;
    top:80px;
    left:-100%;
    text-align:center ;
    transition: all .5s;

}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
}
nav ul li a{
    font-size:20px ;

}

#check:checked ~ ul{
    left: 0;

}
    }



/* HOME */

#home{
width: 100%;
height: 130vh;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

}

#home svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130vh;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}

@keyframes rotate-svg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



#home::before{
       /* the solid round shadow effect  on the first picture*/
    content: '';
    position: absolute;
    top:130px;
    bottom: 0;
    left: -2%;

    position: absolute;
    inset: 0;
    background-color:#ffffff00;
    z-index: -1;
    height: 130vh;



}


#home h1{
    position: relative;

    font-weight: 800;
     color:aliceblue;
    font-size: 2.5rem;
    letter-spacing: 1px;
    padding-right: 650px;
    width: 100%;


}





#home p{
    position: relative;
    color: aliceblue;
    font-weight: 300;
    font-size: 1rem;
    line-height: 20px;
    width: 90%;
    padding-right: 700px;
}



#home .btn{
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;
    padding-top: 40px;
    padding-right: 700px;
    justify-content: space-between;
}


#home .btn .second_btns  .blue i{
    margin-left: 3px;
}
/*this is the dropdown section of the homepage*/

#home .second_btns li{
    width:100%;
    list-style-type: none;
    border-radius: 8px;
}

#home .second_btns .dropdown1 li{
    width:100%;
    list-style-type: none;
    margin-top: 1.8rem;
    border-radius: 8px;
    line-height: 1rem;
}


.dropdown1{
    display: none;
    
}

#home .second_btns li:hover .dropdown1{
    transition: 0.3s;
    display: block;
    position: relative;
    background-color:#030d3300;
}

.dropdown1 ul{
    display: block;
    font-size: 12px;
    text-align: center;

}





#home a{
    position: relative;
    font-size: 1rem;  
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px 32px;
    border-radius: 10px;
    font-weight: 800;
    width: 100%;
    -webkit-text-fill-color: #f5f4f2;
}

#home .btn .second_btns .dropdown1 .staff{
    padding: 10px 44px;
    }

/*hover of log_in and sign_up bottons*/

#home .blue{
    background-color: rgb(7, 7, 139);
}

#home .yellow{
    background-color: hsl(120, 92%, 36%);
    margin-left: 10px;
}


#home .blue:hover{
    color: rgb(7, 7, 139);
    background-color: rgb(251, 251, 253);
    -webkit-text-fill-color: hsl(120, 92%, 36%);
    transition: 0.5s;
}

#home .yellow:hover{
    color:  hsl(120, 92%, 36%);
    background-color: #f5f4f2;
    -webkit-text-fill-color: rgb(7, 7, 139);
    transition: 0.5s;
}

/*this is the styling for the dropdown buttons, both staff and student */


#home .second_btns .dropdown1 a{
    background-color: rgb(7, 7, 139);
    }

#home .second_btns .dropdown1 a:hover{
    border: 1px solid #01ffff;
    -webkit-text-fill-color: hsl(120, 92%, 36%);
    background-color: #ffffff;

}



/*first_part*/
main .first_part{
    height: 94vh;
    background-color: #14AE5C;
}
main .inside_main_first_part{
    height: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first_part .internal_first_part_first_child{
width: 28%;
height: 70%;
margin-top: 5%;
background: url(' wall\ papers/152.jpg')no-repeat ;
background-size: cover;
background-position: center;
}


.first_part .internal_first_part_second_child{
width: 50%;
height: 50%;
margin-top: 6%;
margin-left: 7%;
align-content: center;
text-align: center;

}

.internal_first_part_third_child{
    height: 35%;
    width: 94%;
    margin: auto;
    background: url(' wall\ papers/155.jpg')no-repeat ;
    background-size: cover;
    background-position:center;
    align-content: center;
    text-align: center;
}

.internal_first_part_third_child h1{
color: #08022c;
}

.internal_first_part_third_child p{
color: #08022c;
font-size: 400;
}




/*second SECTION*/


#second_part{
    height: 120vh;
    align-items: center;
    display: flex;
    padding: 0, 10%;
    background-color:  #08022c;
    overflow: hidden;
    
    
}

#second_part img{
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: 1.5s ease-in;

}
 #second_part .digital_flower{
    object-fit: cover;
}

#second_part:hover img {
transform: scale(1.3);

    
}


.internal_second_section{
    width: 110%;
}


.internal_second_section h1{
    position: relative;
    font-size: 35px;
    font-weight: 800;
    line-height: 1.2;
    width: 79%;
    -webkit-text-fill-color: hwb(0 95% 3%);
    margin: 30PX;
    }
    
    .internal_second_section h3{
        font-size: 22px;
        font-weight: 700;
        width: 80%;
        color: #9f90f0;
        margin: 30PX;
    }
    
    .internal_second_section p{
        font-size: 15px;
        margin: 20px 0 40px;
        width: 80%;
        -webkit-text-fill-color: #9f90f0;
        margin: 30PX;
    }
@keyframes showLeft{
    100%{
        width:0;
    }
}



/*third SECTION*/
main .third_section{
    height: 80vh;
}


/*third is for the light blue line*/
main .third_section .blue_line{
    height: 4%;
    width: 100%;
    margin-top: 1.8%;
    background-color: #080F4E;
}

main .third_section .middle_card h1{
width: 23.5%;
margin: auto;
color: #00F0FF;
margin-top: 4%;
text-align: center;
border-radius: 5px;
font-size: 28px;
font-weight: 900;
}


main .third_section .image_container{
    height: 50vh;
    width: 70%;
    margin: auto;
    margin-top: 6%;
    align-content: center;
    background-color: #14AE5C;

}


main .third_section .image_frame{
    display: flex;
    height: 40vh;
    width: 80%;
    margin: auto;
background-color: #14AE5C;
}

main .third_section .image1{
    width: 100%;
    height: 100%;
    margin-left: 2rem ;
    margin-right: 2rem;
    background: url('wall\ papers/76.jpg') no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    align-content: start;

}

main .third_section .image2{
    width: 100%;
    height: 100%;
    margin-left: 2rem ;
    margin-right: 2rem;
    background: url('wall\ papers/77.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;

}


main .third_section .image3{
    width: 100%;
    height: 100%;
    margin-left: 2rem ;
    margin-right: 2rem;
    background: url('wall\ papers/78.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;

}


/*this is the second dropdown*/

.third_section .btn{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35%;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
}

.third_section .second_btns{
    margin-bottom: 3%;

}

main .third_section .image_frame a{
    color:#01ffff;
    text-decoration: none;
    background-color: #080F4E;
    font-size: 16px ;
    font-weight: 800;
    padding: 10px 22px;
    border-radius: 5px;
}


main .third_section .image_frame a:hover{
    color: #080F4E;
    background-color:#01ffff ;
}




main .third_section .btn .blue{
    color:#080F4E;
    text-decoration: none;
    background-color:#01ffff;
    font-size: 16px ;
    font-weight: 800;
    padding: 14px 22px;
    border-radius: 5px;
}




.third_section  .btn .second_btns  .blue i{
    margin-left: 5px;
}
/*this is the dropdown section of the homepage*/

.third_section .second_btns li{
    width:100%;
    list-style-type: none;
    border-radius: 8px;
}

.third_section  .second_btns .dropdown1 li{
    width:100%;
    list-style-type: none;
    margin-top: 1.8rem;
    border-radius: 8px;
    line-height: 1rem;
}


.third_section  .dropdown1{
    display: none;
    
}

main .third_section .dropdown1 a{
    color:#080F4E;
    text-decoration: none;
    background-color:#01ffff;
    font-size: 16px ;
    font-weight: 800;
    padding: 8px 22px;
    border-radius: 5px;
}

.third_section  .second_btns li:hover .dropdown1{
    transition: 0.3s;
    display: block;
    position: absolute;
    background-color:#030d3300;
}

.third_section  .dropdown1 ul{
    display: block;
    font-size: 12px;
    text-align: center;

}


.third_section  .dropdown1 ul a:hover{
    transition: 0.3s;
    color: #01ffff;
background-color: #08022c;

}




/*this is the fourth section*/

.fourth_section{
    margin-top: 12%;
    height: 100%;
}

 .fourth_section .blue_line{
    height: 4%;
    width: 100%;
    background-color:  #080F4E;
    
}


main .fourth_section{
    height: 80vh;
    width: 100%;
}
main .fourth_section .frame_container{
    width: 100%;
    height: 80%;
    margin-top: 2%;
}

main .frame{
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;

}

main .fourth_section .image4{
    width: 100%;
    height: 100%;
    background: url('wall\ papers/89.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;

}

main .fourth_section .image5{
    width: 100%;
    height: 100%;
    margin-left: 2%;
    background: url('wall\ papers/156.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;

}


main .fourth_section .image6{
    width: 100%;
    height: 100%;
    margin-left: 2%;
    background: url('wall\ papers/198.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;

}


main .fourth_section .image7{
    width: 100%;
    height: 100%;
    margin-left: 2%;
    background: url('wall\ papers/157.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;
}


main .fourth_section  li{
    text-decoration: none;
    list-style-type: none;
     margin-top: 10px;
    
}
main .fourth_section  li a{
    color:#080F4E;
    text-decoration: none;
    background-color:#01ffff;
    font-size: 16px ;
    font-weight: 800;
    padding: 8px 22px;
    border-radius: 5px;
    transition: 0.3s ease;
}


main .fourth_section  li a:hover{
    color:#01ffff;
    background-color:#080F4E;
}






/*this is the footer section*/
footer{
    height: 60vh;
    margin-top: 10%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    
    }



footer .light_blue_line{
    height: 4%;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    background-color:#01ffff;
    
    
}

    
    footer .content_container{
        display: flex;
        flex-direction: row;
        height: 55vh;
        justify-content: space-evenly ;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;   
    }
    
    
    footer  li{
        color:#08022c;
        font-weight: 600;
        list-style-type: none;
        line-height: 25px;
    }
    
    footer  li a{
        color:#08022c;
        font-weight: 600;
        text-decoration: none;
        line-height: 30px;
    }
    
    
    footer .tittles {
        text-align: start;
        margin-bottom: 30px;
    }
    
    
    
    footer .content_container .box_container1, footer .content_container .box_container2, footer .content_container .box_container3, footer .content_container .box_container4{
        height: 45vh;
        width: 11rem;
        border-radius: 5px;
        background-color:#14AE5C;
        text-align: center;
    }

    footer .content_container .box_container4{
        color: #00F0FF;
        background-color: #08022c;
    }

    footer .content_container .box_container4 li{
        color: #00F0FF;
        font-size: 25px;
        margin-top: 18%;
    }

    footer .content_container .box_container4 .twitter{
        margin-top: 0;
    }

    .copyright{
        height: 4vh;
        color: #00F0FF;
        margin-bottom: 2%;
    }
    

    

