 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:  #08022c;
    font-family: 'poppins', sans-serif;
    
}

h1{
    font-weight: 700;
    color: #08022c;
   
    
}


span{
    font-size: 9rem;
    color:#757373;

}

h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}


/* NAVIGATION BAR */
nav{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px #16045826;
    position: fixed;
    width: 100%;
    background-color: #09053600;
    z-index: 999;
}
label.logo{
    color: hsl(120, 92%, 36%);
    font-size:40px ;
    width: 20%;
    line-height: 80px;
    padding-left: 100px;
    font-weight: 800;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;

}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline;
    line-height: 80px;
    margin:0 5px  ;
}
    nav ul li a{
        color: aliceblue;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(245, 245, 248);
        font-size: 16px ;
        font-weight: 800;
        transition: 0.3s ease;
    /*box around nav*/
        padding: 3px 14px;

        border-radius: 10px;
      
    }


    .checkbtn{
        font-size: 30px;
        color: beige;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;

    }



    nav .home,.about,.blog,.courses,.contact{
        background-color: hwb(120 3% 31%);
    }
    nav .home:hover,.about:hover,.blog:hover,.courses:hover,.contact:hover{
        background-color:#0905360e;
        -webkit-text-fill-color: #f2f2f8e7;
        transition: 0.3s;
    
    }
    a.home{
        background: hwb(281 0% 1%);
    }

    nav a.home:hover{
    
        -webkit-text-fill-color: hwb(120 3% 31%) ;
        transition: .5s;
        
    }



    @media (max-width:952px) {

        label.logo{
    font-size:35px ;
    padding: 0 100px;
}
nav ul li{
    font-size: 16px;
}

    }

    @media (max-width:952px) {

        .checkbtn{
display: block;
}
 ul{
    position: fixed;
    width: 100%;
    height: 100hvh;
    background: #040127e7;
    top:80px;
    left:-100%;
    text-align:center ;
    transition: all .5s;

}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
}
nav ul li a{
    font-size:20px ;

}

#check:checked ~ ul{
    left: 0;

}
    }



/* HOME */

#home{
width: 100%;
height: 130vh;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

}

#home svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130vh;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}

@keyframes rotate-svg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



#home::before{
       /* the solid round shadow effect  on the first picture*/
    content: '';
    position: absolute;
    top:130px;
    bottom: 0;
    left: -2%;

    position: absolute;
    inset: 0;
    background-color:#ffffff00;
    z-index: -1;
    height: 130vh;



}


#home h1{
    position: relative;

    font-weight: 800;
     color:aliceblue;
    font-size: 2.5rem;
    letter-spacing: 1px;
    padding-right: 650px;
    width: 100%;


}





#home p{
    position: relative;
    color: aliceblue;
    font-weight: 300;
    font-size: 1rem;
    line-height: 20px;
    width: 90%;
    padding-right: 700px;
}



#home .btn{
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;
    padding-top: 40px;
    padding-right: 700px;
    justify-content: space-between;
}


#home .btn .second_btns  .blue i{
    margin-left: 3px;
}
/*this is the dropdown section of the homepage*/

#home .second_btns li{
    width:100%;
    list-style-type: none;
    border-radius: 8px;
}

#home .second_btns .dropdown1 li{
    width:100%;
    list-style-type: none;
    margin-top: 1.8rem;
    border-radius: 8px;
    line-height: 1rem;
}


.dropdown1{
    display: none;
    
}

#home .second_btns li:hover .dropdown1{
    transition: 0.3s;
    display: block;
    position: relative;
    background-color:#030d3300;
}

.dropdown1 ul{
    display: block;
    font-size: 12px;
    text-align: center;

}





#home a{
    position: relative;
    font-size: 1rem;  
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px 32px;
    border-radius: 10px;
    font-weight: 800;
    width: 100%;
    -webkit-text-fill-color: #f5f4f2;
}

#home .btn .second_btns .dropdown1 .staff{
    padding: 10px 44px;
    }

/*hover of log_in and sign_up bottons*/

#home .blue{
    background-color: rgb(7, 7, 139);
}

#home .yellow{
    background-color: hsl(120, 92%, 36%);
    margin-left: 10px;
}


#home .blue:hover{
    color: rgb(7, 7, 139);
    background-color: rgb(251, 251, 253);
    -webkit-text-fill-color: hsl(120, 92%, 36%);
    transition: 0.5s;
}

#home .yellow:hover{
    color:  hsl(120, 92%, 36%);
    background-color: #f5f4f2;
    -webkit-text-fill-color: rgb(7, 7, 139);
    transition: 0.5s;
}

/*this is the styling for the dropdown buttons, both staff and student */


#home .second_btns .dropdown1 a{
    background-color: rgb(7, 7, 139);
    }

#home .second_btns .dropdown1 a:hover{
    border: 1px solid #01ffff;
    -webkit-text-fill-color: hsl(120, 92%, 36%);
    background-color: #ffffff;

}



/*first_part*/
main .first_part{
    height: 94vh;
    background-color: #14AE5C;
}
main .inside_main_first_part{
    height: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first_part .internal_first_part_first_child{
width: 28%;
height: 70%;
margin-top: 5%;
background: url(' wall\ papers/152.jpg')no-repeat ;
background-size: cover;
background-position: center;
}


.first_part .internal_first_part_second_child{
width: 50%;
height: 50%;
margin-top: 6%;
margin-left: 7%;
align-content: center;
text-align: center;

}

.internal_first_part_third_child{
    height: 35%;
    width: 94%;
    margin: auto;
    background: url(' wall\ papers/155.jpg')no-repeat ;
    background-size: cover;
    background-position:center;
    align-content: center;
    text-align: center;
}

.internal_first_part_third_child h1{
color: #08022c;
}

.internal_first_part_third_child p{
color: #08022c;
font-size: 400;
}




/*second SECTION*/


#second_part{
    height: 120vh;
    align-items: center;
    display: flex;
    padding: 0, 10%;
    background-color:  #08022c;
    overflow: hidden;
    
    
}

#second_part img{
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: 1.5s ease-in;

}
 #second_part .digital_flower{
    object-fit: cover;
}

#second_part:hover img {
transform: scale(1.3);

    
}


.internal_second_section{
    width: 110%;
}


.internal_second_section h1{
    position: relative;
    font-size: 35px;
    font-weight: 800;
    line-height: 1.2;
    width: 79%;
    -webkit-text-fill-color: hwb(0 95% 3%);
    margin: 30PX;
    }
    
    .internal_second_section h3{
        font-size: 22px;
        font-weight: 700;
        width: 80%;
        color: #9f90f0;
        margin: 30PX;
    }
    
    .internal_second_section p{
        font-size: 15px;
        margin: 20px 0 40px;
        width: 80%;
        -webkit-text-fill-color: #9f90f0;
        margin: 30PX;
    }
@keyframes showLeft{
    100%{
        width:0;
    }
}



/*third SECTION*/
main .third_section{
    height: 110vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='864' preserveAspectRatio='none' viewBox='0 0 1440 864'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3crect width='1440' height='864' x='0' y='0' fill='rgba(8%2c 2%2c 44%2c 1)'%3e%3c/rect%3e%3cpath d='M-191.95 76.75 a268.7 268.7 0 1 0 537.4 0 a268.7 268.7 0 1 0 -537.4 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-146.56 31.36 a177.92 177.92 0 1 0 355.84 0 a177.92 177.92 0 1 0 -355.84 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-143.94 28.74 a172.68 172.68 0 1 0 345.36 0 a172.68 172.68 0 1 0 -345.36 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1330.964%2c160.346C1365.758%2c160.837%2c1398.022%2c142.652%2c1416%2c112.859C1434.612%2c82.016%2c1437.644%2c43.757%2c1420.409%2c12.123C1402.431%2c-20.875%2c1368.513%2c-41.735%2c1330.964%2c-43.222C1290.561%2c-44.822%2c1247.19%2c-31.259%2c1228.346%2c4.517C1210.334%2c38.714%2c1228.73%2c78.236%2c1249.987%2c110.516C1268.669%2c138.886%2c1296.998%2c159.867%2c1330.964%2c160.346' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1177.71 -25.71 a63.78 63.78 0 1 0 127.56 0 a63.78 63.78 0 1 0 -127.56 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1415.845%2c317.95C1478.31%2c315.98%2c1538.198%2c291.38%2c1571.781%2c238.674C1608.091%2c181.688%2c1621.992%2c107.616%2c1586.505%2c50.114C1552.299%2c-5.313%2c1480.975%2c-13.482%2c1415.845%2c-14.002C1349.443%2c-14.533%2c1277.019%2c-8.042%2c1240.394%2c47.348C1200.642%2c107.467%2c1202.678%2c188.605%2c1241.888%2c249.079C1278.252%2c305.164%2c1349.036%2c320.057%2c1415.845%2c317.95' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M218.435%2c1139.535C295.819%2c1136.625%2c350.552%2c1075.245%2c392.192%2c1009.954C438.577%2c937.223%2c487.549%2c853.553%2c450.507%2c775.648C409.613%2c689.643%2c313.545%2c639.7%2c218.435%2c644.517C130.154%2c648.988%2c64.682%2c718.89%2c23.792%2c797.258C-13.673%2c869.063%2c-19.567%2c953.527%2c20.469%2c1023.93C60.956%2c1095.126%2c136.59%2c1142.612%2c218.435%2c1139.535' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M166.672%2c1037.761C239.956%2c1041.47%2c322.188%2c1032.361%2c360.477%2c969.765C399.894%2c905.325%2c378.49%2c822.641%2c336.785%2c759.657C299.486%2c703.329%2c234.199%2c679.116%2c166.672%2c677.08C94.527%2c674.905%2c14.58%2c686.723%2c-22.184%2c748.836C-59.414%2c811.736%2c-35.881%2c890.547%2c4.11%2c951.728C40.062%2c1006.73%2c101.046%2c1034.439%2c166.672%2c1037.761' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-171.86 747.86 a228.52 228.52 0 1 0 457.04 0 a228.52 228.52 0 1 0 -457.04 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1406.638%2c995.38C1469.645%2c997.273%2c1535.745%2c977.96%2c1567.868%2c923.724C1600.487%2c868.65%2c1588.794%2c799.339%2c1554.918%2c745.029C1523.08%2c693.988%2c1466.762%2c667.241%2c1406.638%2c665.245C1342.278%2c663.108%2c1272.687%2c678.945%2c1240.262%2c734.581C1207.671%2c790.501%2c1226.55%2c859.948%2c1261.36%2c914.514C1293.308%2c964.593%2c1347.263%2c993.596%2c1406.638%2c995.38' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1395.135%2c980.498C1449.139%2c977.83%2c1487.819%2c935.078%2c1515.327%2c888.528C1543.483%2c840.88%2c1566.726%2c783.964%2c1539.868%2c735.573C1512.459%2c686.19%2c1451.549%2c669.246%2c1395.135%2c671.974C1343.636%2c674.464%2c1299.993%2c704.701%2c1272.773%2c748.489C1243.657%2c795.328%2c1226.72%2c852.733%2c1252.448%2c901.515C1279.629%2c953.053%2c1336.94%2c983.373%2c1395.135%2c980.498' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1067.98 775.22 a283.24 283.24 0 1 0 566.48 0 a283.24 283.24 0 1 0 -566.48 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1440' height='864' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-40px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-20px%2c -20px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -40px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}


/*third is for the light blue line*/
main .third_section .blue_line{
    height: 4%;
    width: 100%;
    background-color: #080F4E;
}

main .third_section .middle_card h1{
width: 23.5%;
margin: auto;
color: #00F0FF;
margin-top: 4%;
text-align: center;
border-radius: 5px;
font-size: 28px;
font-weight: 900;
}


main .third_section .image_container{
    height: 50vh;
    width: 70%;
    margin: auto;
    margin-top: 6%;
    align-content: center;
    background-color: #14AE5C;

}


main .third_section .image_frame{
    display: flex;
    height: 40vh;
    width: 80%;
    margin: auto;
background-color: #14AE5C;
}

main .third_section .image1{
    width: 100%;
    height: 100%;
    margin-left: 2rem ;
    margin-right: 2rem;
    background: url('wall\ papers/76.jpg') no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    align-content: start;

}

main .third_section .image2{
    width: 100%;
    height: 100%;
    margin-left: 2rem ;
    margin-right: 2rem;
    background: url('wall\ papers/77.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;

}


main .third_section .image3{
    width: 100%;
    height: 100%;
    margin-left: 2rem ;
    margin-right: 2rem;
    background: url('wall\ papers/78.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;

}


/*this is the second dropdown*/

.third_section .btn{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35%;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    

}

.third_section .second_btns{
    margin-bottom: 3%;

}

main .third_section .image_frame a{
    color:#01ffff;
    text-decoration: none;
    background-color: #080F4E;
    font-size: 16px ;
    font-weight: 800;
    padding: 10px 22px;
    border-radius: 5px;
}


main .third_section .image_frame a:hover{
    color: #080F4E;
    background-color:#01ffff ;
}




main .third_section .btn .blue{
    color:#080F4E;
    text-decoration: none;
    background-color:#01ffff;
    font-size: 16px ;
    font-weight: 800;
    padding: 14px 22px;
    border-radius: 5px;
}




.third_section  .btn .second_btns  .blue i{
    margin-left: 5px;
}
/*this is the dropdown section of the homepage*/

.third_section .second_btns li{
    width:100%;
    list-style-type: none;
    border-radius: 8px;
}

.third_section  .second_btns .dropdown1 li{
    width:100%;
    list-style-type: none;
    margin-top: 1.8rem;
    border-radius: 8px;
    line-height: 1rem;
}


.third_section  .dropdown1{
    display: none;
    
}

main .third_section .dropdown1 a{
    color:#080F4E;
    text-decoration: none;
    background-color:#01ffff;
    font-size: 16px ;
    font-weight: 800;
    padding: 8px 22px;
    border-radius: 5px;
}

.third_section  .second_btns li:hover .dropdown1{
    transition: 0.3s;
    display: block;
    position: absolute;
    background-color:#030d3300;
}

.third_section  .dropdown1 ul{
    display: block;
    font-size: 12px;
    text-align: center;

}


.third_section  .dropdown1 ul a:hover{
    transition: 0.3s;
    color: #01ffff;
background-color: #08022c;

}




/*this is the fourth section*/

.fourth_section{
    height: 100%;
    
}

 .fourth_section .blue_line{
    height: 4%;
    width: 100%;
    background-color:  #080F4E;
    
}


main .fourth_section{
    height: 80vh;
    width: 100%;
}
main .fourth_section .frame_container{
    width: 100%;
    height: 80%;
    margin-top: 2%;
}

main .frame{
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;

}

main .fourth_section .image4{
    width: 100%;
    height: 100%;
    background: url('wall\ papers/89.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;

}

main .fourth_section .image5{
    width: 100%;
    height: 100%;
    margin-left: 2%;
    background: url('wall\ papers/156.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;

}


main .fourth_section .image6{
    width: 100%;
    height: 100%;
    margin-left: 2%;
    background: url('wall\ papers/198.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;

}


main .fourth_section .image7{
    width: 100%;
    height: 100%;
    margin-left: 2%;
    background: url('wall\ papers/157.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: start;
}


main .fourth_section  li{
    text-decoration: none;
    list-style-type: none;
     margin-top: 10px;
    
}
main .fourth_section  li a{
    color:#080F4E;
    text-decoration: none;
    background-color:#01ffff;
    font-size: 16px ;
    font-weight: 800;
    padding: 8px 22px;
    border-radius: 5px;
    transition: 0.3s ease;
}


main .fourth_section  li a:hover{
    color:#01ffff;
    background-color:#080F4E;
}






/*this is the footer section*/
footer{
    height: 60vh;
    
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='864' preserveAspectRatio='none' viewBox='0 0 1440 864'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3crect width='1440' height='864' x='0' y='0' fill='rgba(8%2c 2%2c 44%2c 1)'%3e%3c/rect%3e%3cpath d='M-191.95 76.75 a268.7 268.7 0 1 0 537.4 0 a268.7 268.7 0 1 0 -537.4 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-146.56 31.36 a177.92 177.92 0 1 0 355.84 0 a177.92 177.92 0 1 0 -355.84 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-143.94 28.74 a172.68 172.68 0 1 0 345.36 0 a172.68 172.68 0 1 0 -345.36 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1330.964%2c160.346C1365.758%2c160.837%2c1398.022%2c142.652%2c1416%2c112.859C1434.612%2c82.016%2c1437.644%2c43.757%2c1420.409%2c12.123C1402.431%2c-20.875%2c1368.513%2c-41.735%2c1330.964%2c-43.222C1290.561%2c-44.822%2c1247.19%2c-31.259%2c1228.346%2c4.517C1210.334%2c38.714%2c1228.73%2c78.236%2c1249.987%2c110.516C1268.669%2c138.886%2c1296.998%2c159.867%2c1330.964%2c160.346' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1177.71 -25.71 a63.78 63.78 0 1 0 127.56 0 a63.78 63.78 0 1 0 -127.56 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1415.845%2c317.95C1478.31%2c315.98%2c1538.198%2c291.38%2c1571.781%2c238.674C1608.091%2c181.688%2c1621.992%2c107.616%2c1586.505%2c50.114C1552.299%2c-5.313%2c1480.975%2c-13.482%2c1415.845%2c-14.002C1349.443%2c-14.533%2c1277.019%2c-8.042%2c1240.394%2c47.348C1200.642%2c107.467%2c1202.678%2c188.605%2c1241.888%2c249.079C1278.252%2c305.164%2c1349.036%2c320.057%2c1415.845%2c317.95' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M218.435%2c1139.535C295.819%2c1136.625%2c350.552%2c1075.245%2c392.192%2c1009.954C438.577%2c937.223%2c487.549%2c853.553%2c450.507%2c775.648C409.613%2c689.643%2c313.545%2c639.7%2c218.435%2c644.517C130.154%2c648.988%2c64.682%2c718.89%2c23.792%2c797.258C-13.673%2c869.063%2c-19.567%2c953.527%2c20.469%2c1023.93C60.956%2c1095.126%2c136.59%2c1142.612%2c218.435%2c1139.535' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M166.672%2c1037.761C239.956%2c1041.47%2c322.188%2c1032.361%2c360.477%2c969.765C399.894%2c905.325%2c378.49%2c822.641%2c336.785%2c759.657C299.486%2c703.329%2c234.199%2c679.116%2c166.672%2c677.08C94.527%2c674.905%2c14.58%2c686.723%2c-22.184%2c748.836C-59.414%2c811.736%2c-35.881%2c890.547%2c4.11%2c951.728C40.062%2c1006.73%2c101.046%2c1034.439%2c166.672%2c1037.761' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-171.86 747.86 a228.52 228.52 0 1 0 457.04 0 a228.52 228.52 0 1 0 -457.04 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1406.638%2c995.38C1469.645%2c997.273%2c1535.745%2c977.96%2c1567.868%2c923.724C1600.487%2c868.65%2c1588.794%2c799.339%2c1554.918%2c745.029C1523.08%2c693.988%2c1466.762%2c667.241%2c1406.638%2c665.245C1342.278%2c663.108%2c1272.687%2c678.945%2c1240.262%2c734.581C1207.671%2c790.501%2c1226.55%2c859.948%2c1261.36%2c914.514C1293.308%2c964.593%2c1347.263%2c993.596%2c1406.638%2c995.38' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1395.135%2c980.498C1449.139%2c977.83%2c1487.819%2c935.078%2c1515.327%2c888.528C1543.483%2c840.88%2c1566.726%2c783.964%2c1539.868%2c735.573C1512.459%2c686.19%2c1451.549%2c669.246%2c1395.135%2c671.974C1343.636%2c674.464%2c1299.993%2c704.701%2c1272.773%2c748.489C1243.657%2c795.328%2c1226.72%2c852.733%2c1252.448%2c901.515C1279.629%2c953.053%2c1336.94%2c983.373%2c1395.135%2c980.498' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1067.98 775.22 a283.24 283.24 0 1 0 566.48 0 a283.24 283.24 0 1 0 -566.48 0z' fill='rgba(11%2c 147%2c 75%2c 0.75)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1440' height='864' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-40px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-20px%2c -20px)%7d 100%25%7btransform: translate(5%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -40px)%7d 100%25%7btransform: translate(6%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    
    }



footer .light_blue_line{
    height: 4%;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    background-color:#01ffff;
    
    
}

    
    footer .content_container{
        display: flex;
        flex-direction: row;
        height: 55vh;
        justify-content: space-evenly ;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;   
    }
    
    
    footer  li{
        color:#08022c;
        font-weight: 600;
        list-style-type: none;
        line-height: 25px;
    }
    
    footer  li a{
        color:#08022c;
        font-weight: 600;
        text-decoration: none;
        line-height: 30px;
    }
    
    
    footer .tittles {
        text-align: start;
        margin-bottom: 30px;
    }
    
    
    
    footer .content_container .box_container1, footer .content_container .box_container2, footer .content_container .box_container3, footer .content_container .box_container4{
        height: 45vh;
        width: 11rem;
        border-radius: 5px;
        background-color:#14AE5C;
        text-align: center;
    }

    footer .content_container .box_container4{
        color: #00F0FF;
        background-color: #08022c00;
    }

    footer .content_container .box_container4 li{
        color: #00F0FF;
        font-size: 25px;
        margin-top: 18%;
    }

    footer .content_container .box_container4 .twitter{
        margin-top: 0;
    }

    .copyright{
        height: 4vh;
        color: #00F0FF;
        margin-bottom: 2%;
    }
    

